/* 
 *
 *	Meaghan Choi Stylesheet
 * 	V01
 *
 */


 /* General */

body {
	background-color: #fcfcfc;
}

h1, h2, h3, h4, h5 {
	font-family: 'Tinos', serif;
}

h1 {
	text-align: center;
	font-weight: 600;
}

h2 {
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.5px;
}

h3 {
	font-size: 18px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	line-height: 25px;
	letter-spacing: 0.5px;
}

h4 {
	font-size: 20px;
	color:#fff;
	font-weight: 400;
	letter-spacing: 0.5px;
}

 h5 {
 	font-size: 14px;
 	font-weight: 300;
 	letter-spacing: 0.5px;
 	font-style: italic;
 	font-family: 'Lato', sans-serif;
 	color: #a4a4a4;
 }

 h6 {
 	font-size: 16px;
 	color:  #13acc2;
 	text-transform: uppercase;
 	font-weight: 700;
 	margin-bottom: 5px;
 }

 p {
 	font-size: 16px;
 	font-weight: 300;
 	font-family: 'Lato', sans-serif;
 	letter-spacing: 0.5px;
 	line-height: 22px;
 }

h2 .bold {
	font-weight: 700;
	line-height: 20px;
}

h4.featured {
	font-size: 25px;
}

p.front_p {
	font-size: 22px;
	line-height: 28px;
	margin-top: 3px;
}

.main {
	max-width: 990px;
	margin: 0 auto;
	text-align: center;
}

.center {
	margin: 0 auto;
}

.left {
	float: left;
}

.right,
.special {
	float: right !important;
}

.circle {
	width: 76px;
	height: 76px;
	border-radius: 38px;
	background-color: #13acc2;
}

.face {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	margin-top: 2.5px;
}

.full_image {
	max-width: 100%
}


 /* Stroke Style */

 .stroke {
 	z-index: -1;
 	overflow: auto;
 }

 svg {
 	z-index: -1;
 }

.onep {
	animation: dash 3s linear;
  	animation-delay: 1.1s;
}

.twop {
	animation: dash 2s linear;
	animation-delay: 1.3s;
}

.threep {
	animation: dash 3s linear;
	animation-delay: 2s;
}

.fourp {
	animation: dash 2s linear;
	animation-delay: 2.4s;
}

.fivep {
	animation: dash 3s linear;
	animation-delay: 3.3s
}

.sixp {
	animation: dash 3s linear;
	animation-delay: 3.6s;
}

.sevenp {
	animation: dash 3s linear;
	animation-delay: 4s;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;

  }
}

.stroke {
	position: relative;
}

.stroke_overlay {
	position: relative;
	top: -229.5px;
}

.main_copy {
	position: relative;
	top: -295px;
	margin: 0 auto;
	width: 700px;
	margin-bottom: -280px;
	text-align: center;
}


/* Animations */

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade_in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0,5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}

.fade_in {
	-webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}



/* Navigation */

#nav {
	overflow: auto;
	padding: 20px 0;
	max-width: 95%;
	width: 960px;
	margin: 0 auto;
	z-index: 1000;
}

#nav a {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #333;
	font-size: 16px;
	text-transform: uppercase;
}

.nav {
	max-width: 308px;
	text-align: right;
}

.nav>li {
	display: inline-block;
	width: 100px;
}

#nav .selected {
	color: #13acc2;
    border-bottom: 2px solid #13acc2;
}






/* Work Grid */

.work {
	width: 90%;
	margin: 30px auto 50px auto;
	text-align: center;
}

.home_work {
	margin-top: 215px;
}

.work img {
	width: 100%;
}

.row {
	width: 100%;
	height: 100%;
	display: block;
	clear: both;
	overflow: auto;
	margin-bottom: 10px;
}

.portfolio_bg {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.portfolio_copy {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
	width: 80%;
    margin: 0 auto;
}

.lg{
	height: 400px
}

.lg_half {
	height: 195px;
	display: block;
	margin-bottom: 10px;
}

.sm {
	height: 300px;
}

.sm_half {
	height: 145px;
	margin-bottom: 10px;
	display: block;
}

.label {
	max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
	margin-bottom: 3px;
	max-height: 26px;
	width: auto !important;
}

.two, .three, .two_three {
	float: left;
}

.two {
	width: -webkit-calc(50% - 5px);
  	width: calc(50% - 5px);
	margin-right: 10px;
}

.three {
	width: -webkit-calc(100% / 3 - 20px / 3);
 	width: calc(100% / 3 - 20px / 3);
 	margin-right: 10px;
}

.two_three {
	width: -webkit-calc(100% / 3 * 2 - 20px / 3);
 	width: calc(100% / 3 * 2 - 20px / 3);
 	margin-right: 10px;
}

.last {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
}

/* Footer */

footer {
	background: #13acc2;
	width: 100%;
	height: 4px;
	margin-top: -4px;
}


/* Project Pages */

.intro {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	margin-top: 15px;
}

.intro h2,
.main_copy h2 {
	margin-bottom: 7px;
}

.title {
	margin-top: 30px;
}

.slim {
	width: 60%;
	margin: 0 auto;
}

.space {
	margin-top: 40px;
}

.icon {
	max-width: 150px;
	height: auto;
	margin: 0 auto;
	width: 100%;
}

.section {
	width: 100%;
	max-width: 900px;
	display: block;
	padding-bottom: 30px;
	margin: 50px auto;
}

.border {
	border: 1px solid #e2e2e2;
	width: calc( 100% - 2px) !important;
	width: webkit-calc(100% - 2px) !important;

}

.caption {
	text-align: left;
}

.dev_link {
	color:  #13acc2;
	font-weight: 300;
}

.dev_link:hover {
	opacity: 0.6
}

.go_back {
	padding-bottom: 30px;
}

.go_back a {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color:  #13acc2;
}

.go_back a:hover {
	opacity: 0.6;
}


/* Contact Info */

.contact {
	min-height: 100vh;
	overflow: auto;
}

.contact_info {
	color: #333333;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: none;
	font-weight: 300;
	line-height: 50px;
	margin-left: 10px;
}

.contact_logo {
	margin: 0 auto;
	margin-top: 20px;
}

.contact_logo img {
	max-width: 25px;
	height: auto;
	margin: 10px 15px;
	display: inline-block;
}

.contact_logo img:hover {
	opacity: 0.6;
}

/* Media Queries */

/* No animate */
@media screen and (max-width: 960px) {

	svg,
	.stroke {
		display: none;
	}

	.main_copy {
		margin: 20px auto;
		top: 0;
		clear: both;
		max-width: 90%;
		text-align: center;
	}

	.work_home {
		margin-top: 80px;
	}

	.work {
		margin: 80px auto 30px auto;
	}

	.intro {
		margin-top: 30px;
		margin-bottom: 50px;
	}

	.section {
		width: calc(100% - 20px);
		width: webkit-calc(100% - 20px);
		margin: 25px auto;
		padding-bottom: 10px;
	}

	.slim {
		width: 90%;
	}

	.three.spec {
		width: -webkit-calc(100% / 3 - 20px / 3);
	 	width: calc(100% / 3 - 20px / 3);
	 	margin-right: 10px;
	}

}


/* Tablet */
@media screen and (max-width: 768px) {

	.md_hide {
		display: none;
	}

	.md_border {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.special {
		float: none !important;
		margin-right: auto !important;
		margin-bottom: 30px !important;
	}


	.full {
		width: 100% !important;
		margin-bottom: 10px;

	}

	.none {
		float: none !important;
	}

	.three {
		width: -webkit-calc(50% - 5px);
  		width: calc(50% - 5px);
	}

	h4,
	h4.featured {
		font-size: 18px;
	}

	.logo {
		max-height: 20px;
	}

	.lg_half {
		height: 400px;
	}

	.title {
		margin: 10px auto 20px auto;
	}

	.intro {
		width: 90%;
	}

	.two_three {
		float: none;
		width: calc(100% - 20px);
		width: webkit-calc(100% - 20px);
		max-width: 600px;
		margin: 0 auto !important; 
	}

	.caption {
		margin-bottom: 15px;
	}

}

/* Mobile */
@media screen and (max-width: 480px) {


	.sm_hide {
		display: none;
	}

	h2,  h2.bold {
		font-size: 23px;
		line-height: 26px;
	}

	.left, .right {
		float: none !important;
		margin: 0 auto;
	}

	nav {
		text-align: center;
	}

	.nav {
		padding: 25px 0 10px 0;
		margin: 0 auto;
		max-width: 90%;
		text-align: center;
	}

	.nav>li {
		width: 32%;
	}

	.name {
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;
		width: 80%;
		margin: 0 auto;
	}

	.name a {
		font-size: 25px;
	}

	.row {
		margin-bottom: 0;
	}

	.last {
		margin-bottom: 0px !important;
		margin-right: auto !important;
	}

	.two,
	.three {
		width: 100%;
		margin-bottom: 10px !important;
		float: none;
	}

	.two_three {
		margin-top: 25px !important;
	}

	.lg,
	.lg_half,
	.sm_half,
	.sm {
		height: 200px;
	}

	.section{
		max-width: 90%;
	}

	.three.spec {
		margin: 0 auto;
	}

	.icon {
		max-width: 175px;
	}


}




